# Ключ OpenRouter (получить на https://openrouter.ai/keys)
OPENROUTER_API_KEY = ваш_ключ_сюда


# Бесплатный вариант c большим количеством токенов cohere/north-mini-code:free
# Можно выбрать любую модель на сайте https://openrouter.ai/models
MODEL = cohere/north-mini-code:free